h1{
    color:green;
    font-size: 37px;
}
body{
  background-image: url("bg1.jpg");  
  background-position: center;
  background-size: cover;
}
#myCanvas{
  border-width: 10px;  
  border-style: ridge;
  background-color: white;
}